@font-face {
  font-family: "ubuntumonoR";
  src: url("../font/UbuntuMono-R.ttf")
}
body{
  background: linear-gradient(to top, #000000a0,#000000a0),url(https://cdn.discordapp.com/attachments/921823159634788434/942018579702886410/1642346936318.png) top center ;
  background-attachment: fixed;
}

body{
  //background-color: #2c2c2c;
font-family: ubuntumonoR;
  font-size:32px;
  color: #61cb5f;
}

.grandbloc{
  height: 20em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

h1{font-size:32px;}
h2{font-size:22px;}

a:link{text-decoration: none;}
.cases{
  height: 250px;
  width: 200px;
}

a:link{color: #e0dada;}

a:visited{color: #e0dada;}
#case1 h1{color:#E50000;}
#case2 h1{color: #FF8D00;}

#case3 h1{color: #FFEE00;}
#case4 h1{color: #028121;}
#case5 h1{color:#004CFF;}
#case6 h1{color:#760088;}
#tiret{color: #1cacff;}

#dollar{color:white;}

#whitespace{color:#121E2D;}


form{
  margin:0 auto;
  width:575px;
  border-radius:30px;
  border:1px solid #dcdcdc;
  background-color:#DCDCDCFF;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.bar:hover{
  box-shadow: 1px 1px 8px 1px #dcdcdc;
}
.bar:focus-within{
  box-shadow: 1px 1px 8px 1px #dcdcdc;
  outline:none;
}
input {
  all: unset;
  font: 16px system-ui;
  height: 30px;
  width: 556px;
  padding: 6px 10px;
  color:black;
  font-family: ubuntumonoR;
}
button {
  all: unset;
  cursor: pointer;
  width: 44px;
  height: 44px;
}

.clock {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: #17D4FE;
  font-size: 60px;
  font-family: Orbitron;
  letter-spacing: 7px;



}
